.modal-body{
    display: flex;
    width: 50%;
    z-index: 1000;
    background: #fff;
    justify-content: center;
    transition: 1.5s;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}